<%- include("partials/header") -%>
<!-- Display flash message -->
<% if(message){ %>
	<h4>
		<%= message %>
	</h4>
<% } %>
<% if(err){ %>
	<h4>
		<%= err %>
	</h4>
<% } %>

<!-- Banner -->
<div class="banner-bg">
	<h1>Full Stack</h1>
	<img class="banner-img" src="https://serene-williams-bb8bee.netlify.app/images/Portfolieo/MernStack.png">
	<h4>My name is Anthony Cavuoti and i'm a full stack developer</h4>
</div>

<!-- Skills -->
<div class="section-bg">
  <div class="section-container">
	<h2 class="section-title">Skils</h2>
	<div class="make-line"></div>          
	<div class="row skill-row">
	  <div class="col-sm-6 category-container">
		<h4 class="skill-cat">Back end</h4>
		<ul class="skill-ul su-1">
		  <li class="skill-li sl-1">Node js</li>
		  <li class="skill-li sl-1">Javascript</li>
		  <li class="skill-li sl-1">Git / Github</li>
		  <li class="skill-li sl-1">Node js</li>
		  <li class="skill-li sl-1 d-none">Node js</li>
		  <li class="skill-li sl-1 d-none">Javascript</li>
		  <li class="skill-li sl-1 d-none">Git / Github</li>
		  <li class="skill-li sl-1 d-none">Node js</li>
		</ul>
		<button class="see-all-skills sas-01">See all</button>
	  </div>

	  <div class="col-sm-6 category-container skill-category-2">
		<h4 class="skill-cat">Front end</h4>
		<ul class="skill-ul su-2">
		  <li class="skill-li sl-2">Javascript</li>
		  <li class="skill-li sl-2">CSS</li>
		  <li class="skill-li sl-2">HTML</li>
		  <li class="skill-li sl-2">React</li>
		  <li class="skill-li sl-2 d-none">Javascript</li>
		  <li class="skill-li sl-2 d-none">CSS</li>
		  <li class="skill-li sl-2 d-none">HTML</li>
		  <li class="skill-li sl-2 d-none">React</li>
		</ul>
		<button class="see-all-skills sas-02">See all</button>
	  </div>

	  <div class="col-sm-6 category-container lower-skill-category lower-category">
		<h4 class="skill-cat">Frameworks / librarys</h4>
		<ul class="skill-ul su-3">
		  <li class="skill-li sl-3">Node js</li>
		  <li class="skill-li sl-3">React</li>
		  <li class="skill-li sl-3">Bootstrap</li>
		  <li class="skill-li sl-3">Passport js</li>
		  <li class="skill-li sl-3 d-none">Node js</li>
		  <li class="skill-li sl-3 d-none">React</li>
		  <li class="skill-li sl-3 d-none">Bootstrap</li>
		  <li class="skill-li sl-3 d-none">Passport js</li>
		</ul>
		<button class="see-all-skills sas-03">See all</button>
	  </div>

	  <div class="col-sm-6 category-container lower-skill-category lower-category">
		<h4 class="skill-cat">Softwares</h4>
		<ul class="skill-ul su-4">
		  <li class="skill-li sl-4">Gimp</li>
		  <li class="skill-li sl-4">Photoshop</li>
		  <li class="skill-li sl-4">Unity</li>
		  <li class="skill-li sl-4">Blender</li>
		  <li class="skill-li sl-4 d-none">Gimp</li>
		  <li class="skill-li sl-4 d-none">Photoshop</li>
		  <li class="skill-li sl-4 d-none">Unity</li>
		  <li class="skill-li sl-4 d-none">Blender</li>
		</ul>
		<button class="see-all-skills sas-04">See all</button>
	  </div>
	</div>
  </div>
</div>

<!-- Projects -->
<div class="section-bg">
  <div class="section-container">
	<h2 class="section-title">Projects</h2>

	<div class="row all-projects-container">

	  <!-- Project -->
	  <div class="col-xl-4 col-md-6 project-col-container">
		<div class="project-container">
		  <img src="https://serene-williams-bb8bee.netlify.app/images/Portfolieo/SingularityBlog.png" class="project-thumbnail">
		  <div class="text-container">
			<h4 class="project-title">Singularity Blog</h4>
			<p class="project-description">Forage stumptown salvia organic slow-
			  carb gastropub lomo. Brunch sartorial 
			</p>
			<div class="project-link-container">
			  <a href="#" class="visit-project linkify">Visit</a>
			  <a href="#" class="visit-github linkify">Github</a>
			</div>
		  </div>
		</div>
	  </div>

	  <!-- Project -->
	  <div class="col-xl-4 col-md-6 project-col-2 project-col-container">
		<div class="project-container">
		  <img src="https://serene-williams-bb8bee.netlify.app/images/Portfolieo/Hoodflix.png" class="project-thumbnail">
		  <div class="text-container">
			<h4 class="project-title">Hoodflix</h4>
			<p class="project-description">Forage stumptown salvia organic slow-
			  carb gastropub lomo. Brunch sartorial 
			</p>
			<div class="project-link-container">
			  <a href="#" class="visit-project linkify">Visit</a>
			  <a href="#" class="visit-github linkify">Github</a>
			</div>
		  </div>
		</div>
	  </div>

	  <!-- Project -->
	  <div class="col-xl-4 col-md-6 lower-project-3 project-col-container">
		<div class="project-container">
		  <img src="https://serene-williams-bb8bee.netlify.app/images/Portfolieo/KombatClubAlfaPoster.jpg" class="project-thumbnail">
		  <div class="text-container">
			<h4 class="project-title">Kombat Club</h4>
			<p class="project-description">Forage stumptown salvia organic slow-
			  carb gastropub lomo. Brunch sartorial 
			</p>
			<div class="project-link-container">
			  <a href="#" class="visit-project linkify">Visit</a>
			  <a href="#" class="visit-github linkify">Github</a>
			</div>
		  </div>
		</div>
	  </div>
	  
	  <!-- Project -->
	  <div class="col-xl-4 col-md-6 lower-project-3 lower-project-below-4 project-col-container d-none">
		<div class="project-container">
		  <img src="https://serene-williams-bb8bee.netlify.app/images/Portfolieo/Hoodflix.png" class="project-thumbnail">
		  <div class="text-container">
			<h4 class="project-title">Hoodflix</h4>
			<p class="project-description">Forage stumptown salvia organic slow-
			  carb gastropub lomo. Brunch sartorial 
			</p>
			<div class="project-link-container">
			  <a href="#" class="visit-project linkify">Visit</a>
			  <a href="#" class="visit-github linkify">Github</a>
			</div>
		  </div>
		</div>
	  </div>
		
		<!-- Project -->
	  <div class="col-xl-4 col-md-6 lower-project-3 lower-project-below-4 project-col-container d-none">
		<div class="project-container">
		  <img src="https://serene-williams-bb8bee.netlify.app/images/Portfolieo/Hoodflix.png" class="project-thumbnail">
		  <div class="text-container">
			<h4 class="project-title">Hoodflix</h4>
			<p class="project-description">Forage stumptown salvia organic slow-
			  carb gastropub lomo. Brunch sartorial 
			</p>
			<div class="project-link-container">
			  <a href="#" class="visit-project linkify">Visit</a>
			  <a href="#" class="visit-github linkify">Github</a>
			</div>
		  </div>
		</div>
	  </div>
		
		<!-- Project -->
	  <div class="col-xl-4 col-md-6 lower-project-3 lower-project-below-4 project-col-container d-none">
		<div class="project-container">
		  <img src="https://serene-williams-bb8bee.netlify.app/images/Portfolieo/Hoodflix.png" class="project-thumbnail">
		  <div class="text-container">
			<h4 class="project-title">Hoodflix</h4>
			<p class="project-description">Forage stumptown salvia organic slow-
			  carb gastropub lomo. Brunch sartorial 
			</p>
			<div class="project-link-container">
			  <a href="#" class="visit-project linkify">Visit</a>
			  <a href="#" class="visit-github linkify">Github</a>
			</div>
		  </div>
		</div>
	  </div>
		
	  </div>
	<button class="see-all-projects">See all</button>
  </div>
</div>

<!-- Contact me -->
<div class="section-bg">
  <div class="section-container">
	<h2 class="section-title">Contact info</h2>
	<div id="skill-line"></div>  
	<div class="contact-into-container">
	  <div class="contact-info-pair">
		<h4 class="contact-label">Email:&nbsp;</h4>
		<p class="contact-data">anthonycavuoti@gmail.com</p>
	  </div>
	  <div class="contact-info-pair mt-3">
		<h4 class="contact-label">Phone:&nbsp;</h4>
		<p class="contact-data">(424)201-9017</p>
	  </div>
	  <div class="contact-info-pair mt-3">
		<h4 class="contact-label">Facebook:&nbsp;</h4>
		<a href="#" class="contact-data linkify">AnthonyCavuoti</a>
	  </div>
	  <div class="contact-info-pair mt-3">
		<h4 class="contact-label">Linkedin:&nbsp;</h4>
		<a href="#" class="contact-data linkify">Ant3ny</a>
	  </div>
	</div>

	<h2 class="section-title">Contact me</h2>
	<form class="contct-form">
	  <label>Email</label>
	  <input class="contact-text mt-3" type="text">
	  <label class="mt-2 mb-0">Message</label>
	  <textarea class="contact-text mt-2"></textarea>
	  <button type="submit" class="styled-button mt-4">Send</button>
	</form>
  </div>
</div>

<%- include("partials/footer") -%>