<%- include('../partials/altHeader') -%>
<style>
    html{
        background-color: #EFF6FB;
    }
    body{
        display:flex;
        flex-direction: column;
        height: auto;
        background-color: #EFF6FB;
    }
</style>
<div class="section-bg my-0 extra-project-page-conter-style">
    <div class="section-container">
        <div class='search-page-box-container'>
            <div class='search-page-box'>
                <form class='search-page-box-inner-container'>
                    <button type='submit' class='search-page-search-button' href='#'><i class="fas fa-search search-page-search-icon"></i></button>
                    <input name='search' class='search-page-input' value='react'/>
                </form>
            </div>
        </div>
        <div class='search-page-results-text-container'>
            <p class='search-page-results-text'>
                3 projects that involve "react"
            </p>
        </div>
        <div class='row all-projects-container'>
            <!-- Project result -->
            <div class='col-xl-4 col-md-6 project-col-container'>
                <div class="project-container">
                    <img src="https://serene-williams-bb8bee.netlify.app/images/Portfolieo/SingularityBlog.png" class="project-thumbnail">
			        <div class="text-container">
                        <h4 class="project-title">Singularity Blogs</h4>
				        <p class="project-description">
				        	Singularity blog was designed with Adobe XD and follows the neuromorphic UI design trend.
				        </p>
                        <div class="project-link-container">
                            <div class='project-action-buttons-container mr-auto'>
                                <span class=''><a href='#' class='linkify project-action-button'>Visit</a><a href='#' class='linkify project-action-button'><i class="fas fa-external-link-alt"></i></a></span>
                            </div>
                            <div class='project-action-buttons-container mr-3'>
                                <span class=''><a href='#' class='linkify project-action-button'><i href='#' class="fas fa-info"></i></a></span>
                            </div>
                            <div class='project-action-buttons-container mr-3'>
                                <span class=''><a href='#' class='linkify project-action-button'><i href='#' class="fab fa-github"></i></a></span>
                            </div>
                        </div>
                        <a href="#" class="styled-button edit-project-edit-btn">Edit</a>
                    </div>
                </div>
            </div>
            <div class='col-xl-4 col-md-6 project-col-container project-col-2'>
                <div class="project-container">
                    <img src="https://serene-williams-bb8bee.netlify.app/images/247Sales/247SaleThumbnail.png" class="project-thumbnail">
			        <div class="text-container">
                        <h4 class="project-title">24/7 Sales</h4>
				        <p class="project-description">
				        	Browse hundreds of games with huge sales.
				        </p>
                        <div class="project-link-container">
                            <div class='project-action-buttons-container mr-auto'>
                                <span class=''><a href='#' class='linkify project-action-button'>Visit</a><a href='#' class='linkify project-action-button'><i class="fas fa-external-link-alt"></i></a></span>
                            </div>
                            <div class='project-action-buttons-container mr-3'>
                                <span class=''><a href='#' class='linkify project-action-button'><i href='#' class="fas fa-info"></i></a></span>
                            </div>
                            <div class='project-action-buttons-container mr-3'>
                                <span class=''><a href='#' class='linkify project-action-button'><i href='#' class="fab fa-github"></i></a></span>
                            </div>
                        </div>
                        <a href="#" class="styled-button edit-project-edit-btn">Edit</a>
                    </div>
                </div>
            </div>
            <div class='col-xl-4 col-md-6 project-col-container lower-project-3'>
                <div class="project-container">
                    <img src="https://serene-williams-bb8bee.netlify.app/images/Portfolieo/Hoodflix.png" class="project-thumbnail">
			        <div class="text-container">
                        <h4 class="project-title">Hoodflix</h4>
				        <p class="project-description">
				        	Hoodflix has turned a curated batch of youtube films into a premium streaming experience.
				        </p>
                        <div class="project-link-container">
                            <div class='project-action-buttons-container mr-auto'>
                                <span class=''><a href='#' class='linkify project-action-button'>Visit</a><a href='#' class='linkify project-action-button'><i class="fas fa-external-link-alt"></i></a></span>
                            </div>
                            <div class='project-action-buttons-container mr-3'>
                                <span class=''><a href='#' class='linkify project-action-button'><i href='#' class="fas fa-info"></i></a></span>
                            </div>
                            <div class='project-action-buttons-container mr-3'>
                                <span class=''><a href='#' class='linkify project-action-button'><i href='#' class="fab fa-github"></i></a></span>
                            </div>
                        </div>
                        <a href="#" class="styled-button edit-project-edit-btn">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/altFooter') -%>