<!-- New experience view -->
<%- include("../partials/altHeader") -%>
<link rel='stylesheet' href='/css/experience.css'>
<div class="section-bg">
    <div class="section-container">
        <%- include("./partials/modifyForm") -%>
    </div>
</div>
<%- include("../partials/altFooter") -%>