<%- include('../partials/altHeader') -%>
<link rel='stylesheet' href='/css/experience.css'>

<div id='experience-show-container' class="section-bg">
    <div class="section-container">
        <div class='row'>
            <h2 class="section-title align-left mb-2 extra-project-page-section-title-style"><a href='#'>Senpa.io</a></h2>
        </div>
        <div class="row">
            <div class="col-lg-6 left-col">
                    <img src="https://serene-williams-bb8bee.netlify.app/images/Portfolieo/Senpa.jpg" class="thumbnail">
                    <h3 class='mt-2'>React / Webpack Developer</h3>
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>
</div>

<%- include('../partials/altFooter') -%>