.App {
	text-align: center;
	position: relative;
}

/* header section start */
header {
	height: 10vh;
	background-color: transparent;
	position: absolute;
	top: 0;
}
/* header section end */

/* nav section start */

/* nav section end */

/* landing screen start */

/* landing screen end */

.portfolio-container {
	display: flex;
	width: 100%;
	padding: 0 10%;
}

.landingscreen-container {
	height: 110vh;
	padding-bottom: 10vh;
}

@media (max-width: 640px) {
	.portfolio-container {
		padding: 0 5%;
	}
}
